{#=====================================================
  Creature List page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    {% if search_term %}
        <h2>List of Creatures Matching '{{ search_term }}'</h2>
    {% else %}
        <h2> List of Creatures</h2>
    {% endif %}

    <form action="/search" method=""get>

        <label>
            Search for.....
            <input type="text" name="q">
        </label>

        <button>Search</button>
    
    </form>

    <p id="creature-count">{{ creatures | count }} creatures</p>

    <section id="creatures">

        {% for creature in creatures %}

            <div class="creature">
                <h3>{{ creature.name }}</h3>
                <p>Species: <strong>{{ creature.species }}</strong></p>
            </div>

        {% else %}

            <p>No Creatures!</p>

        {% endfor %}

    </section>

{% endblock %}

